<head>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<header class="header">
  <div>
    <a href="/">
      <div class="title">
        <span class="secondary">Turisme</span>
        <span class="primary">Barcelona</span>
      </div>
    </a>
  </div>
  <nav class="nav">
    <ul>
      <li><a href="/index.html">Inici</a></li>
      <li><a href="/informacio.html">Informació</a></li>
      <li><a href="/contacte.html">Contacte</a></li>
    </ul>
  </nav>
</header>